body
{
    color: DarkOrchid;
    background-color:Chartreuse;
}
p.program
{
    color: yellow;
    background-color: blue;
    text-align: center;
}

.tankar
{
text-align: right;

}

p.ommig
{
border-style: solid;
}

.titel
{
font-family: Arial;
font-size: 22px;
}

a.ignore
{
text-decoration: none;
}